<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="#" />
<meta name="keywords" content="#" />
<meta name="author" content="#" />
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/jquery-validation/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/json2.js"></script>
<script type="text/javascript" src="/js/rpc.js"></script>
{% ifequal ControllerId 'list' %}
    <script type="text/javascript">

    //
    // As mentioned at http://en.wikipedia.org/wiki/XMLHttpRequest
    //
    if( !window.XMLHttpRequest ) XMLHttpRequest = function()
    {
      try{ return new ActiveXObject("Msxml2.XMLHTTP.6.0") }catch(e){}
      try{ return new ActiveXObject("Msxml2.XMLHTTP.3.0") }catch(e){}
      try{ return new ActiveXObject("Msxml2.XMLHTTP") }catch(e){}
      try{ return new ActiveXObject("Microsoft.XMLHTTP") }catch(e){}
      throw new Error("Could not find an XMLHttpRequest alternative.")
    };

    //
    // Makes an AJAX request to a local server function w/ optional arguments
    //
    // functionName: the name of the server's AJAX function to call
    // opt_argv: an Array of arguments for the AJAX function
    //
    function Request(function_name, opt_argv) {

      if (!opt_argv)
        opt_argv = new Array();

      // Find if the last arg is a callback function; save it
      var callback = null;
      var len = opt_argv.length;
      if (len > 0 && typeof opt_argv[len-1] == 'function') {
        callback = opt_argv[len-1];
        opt_argv.length--;
      }
      var async = (callback != null);

      // Encode the arguments in to a URI
      var query = 'action=' + encodeURIComponent(function_name);
      for (var i = 0; i < opt_argv.length; i++) {
        var key = 'arg' + i;
        var val = JSON.stringify(opt_argv[i]);
        query += '&' + key + '=' + encodeURIComponent(val);
      }
      query += '&time=' + new Date().getTime(); // IE cache workaround

      // Create an XMLHttpRequest 'GET' request w/ an optional callback handler
      var req = new XMLHttpRequest();
      req.open('GET', '/rpc?' + query, async);

      if (async) {
        req.onreadystatechange = function() {
          if(req.readyState == 4 && req.status == 200) {
            var response = null;
            try {
             response = JSON.parse(req.responseText);
            } catch (e) {
             response = req.responseText;
            }
            callback(response);
          }
        }
      }

      // Make the actual request
      req.send(null);
    }

    // Adds a stub function that will pass the arguments to the AJAX call
    function InstallFunction(obj, functionName) {
      obj[functionName] = function() { Request(functionName, arguments); }
    }

    </script>
    <script type="text/javascript">

    // Server object that will contain the callable methods
    var server = {};

    // Insert 'Add' as the name of a callable method
    InstallFunction(server, 'Rate');


    // Handy "macro"
    function $(id){
      return document.getElementById(id);
    }

    // Client function that calls a server rpc and provides a callback
    function doRate(idValue, starsValue) {
      server.Rate(idValue, starsValue, onRateSuccess);
    }

    // Callback for after a successful doAdd
    function onRateSuccess(response) {
     if (response != '-1')
	{
		self.hideStars(response);
	}
    }

    </script>

<script language="javascript"> 
function hideStars(divName) {
	var ele = document.getElementById(divName);
    		ele.style.display = "none";
}

function showStars(divName) {
	var ele = document.getElementById(divName);
	var efe = document.getElementById(divName+'rate');
    		ele.style.display = "block";
    		efe.style.display = "none";
} 
</script>


{% endifequal %}
<link rel="stylesheet" type="text/css" href="/stylesheets/grass_stains.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
<title>riffShare 2.0</title>


</head>
<body>
<div class="page_wrap clearfix">
  <div class="header_text">
    <h1>riffShare</h1>
  </div>
  <div class="topnav" id="nav"> 

{% include 'menu.html' %}

  </div>
  <div class="container clearfix">

{% include 'main.html' %}		
	  	
  </div>
  <div class="footer" id="footer">

{% include 'footer.html' %}

</div>
</div>
</body>
</html>
